body{
background-color: black;
font-family: helvetica;
font-size: 22px;
color: seashell;
opacity: .9;
text-align: center;
}

header{
  width: 100%;
  position: fixed;
  height: 69px;
  background-color: black;
  z-index: 1;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  flex-grow: 1;
  display: block;
  text-align: right;
  margin-right: 50px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: seashell;
  cursor: pointer;
  text-decoration: underline;
}

div {
  display: block;
}

h2{
margin: 0;
padding: 15px;
}

.main {
  padding-top: 69px;
  opacity: .9;
  width: 1200px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
#mission {
  height: 700px;
  background-image: url("../images/background.jpg");
}
#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
  justify-content: space-around;
}

#store {
  width: 1000px;
  margin: auto;
  padding-top: 50px;
  height: 700px;
}

.item img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.item {
  padding: 5px;
}

#locations {
background-image: url("../images/location.jpg");
height: 500px;
padding-top: 50px;
width: 1200px;
}


.location {
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  justify-content: center;
}

#contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px
}
